.wrapper{
    max-height: 200px;
    display: flex;
}
.wrapper .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: pink;
    margin-left: 10px;
}